<div class = "newspaper" id ="filesNewspaper">
  <% @files.each_with_index do |file, index| %>
    <div id= <%= "file#{index}" %>
      <% if index.even? %>
        class="file-even"
      <% elsif index.odd? %>
        class="file-odd" 
      <% end %>
    >
      <span class="filename-checkbox">
      <%= check_box_tag "file[]","file.id", false%>
      </span>
      <%= text_area_tag "file[]", file.name, maxlength: 30, class: "small-text"%>
    </div>
  <% end %>
  <% @files.each_with_index do |file, index| %>
    <script>
        addTopOrBottomClassToFileInNewspaper('<%= "file#{index}" %>', 'filesNewspaper', <%= index + 1 %>, <%= @files.length %>);
    </script>

  <% end %>
</div>