<%= form_tag "/note_files/#{@opened_file.id}", id: "note-file-form#{index}", method: :patch do %>
<table class="worktable">
  <tr>
    <td width="2%"></td>
    <% 1.upto(@max_measure) do |measure_index| %>
      <% 1.upto(@beats_per_measure) do |beat_index| %>
        <% 1.upto(@divisions_per_beat) do |div_index| %>
          <% if div_index == 1 %>
            <td width="<%= 2* @divisions_per_beat %>%" colspan="<%= @divisions_per_beat %>">
              <%= "#{measure_index.to_s}.#{beat_index.to_s}" %>
              <%#label only printed on beat %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tr>
  <% @max_octave.downto(@min_octave) do |octave| %>
    <% @tones_array.each_with_index do |tone, tone_index| %>

      <% if octave == @min_octave && tone_index>@tones_array.index(@min_tone) %>
        <% break %>
        <%# @tones_array is in reverse ["B".."C"] so break if tone_index > min; 
        eg: stop making pitch rows the moment octave == @min_octave, tone is F, and @min_tone is F# %>
      <% elsif octave == @max_octave && tone_index<@tones_array.index(@max_tone)%> 
        <% next %>
        <%# similar logic to above break statement, but this time: continue down to next tone, until @max_tone is reached;
        eg: if octave==@max_octave, tone is G is @max_tone is E, the next statement will keep skipping until E is reached%>
      <% end %>
      <% @pitch = "#{tone}#{octave}"%>
      <tr>
        <td><%= @pitch %></td>
        <% 1.upto(@max_measure) do |measure_index| %>
          <% 1.upto(@beats_per_measure) do |beat_index| %>
            <% 1.upto(@divisions_per_beat) do |division_index| %>    
              <td>
                <% @start_index = "#{measure_index}.#{beat_index}.#{division_index}" %>
                <% if LoadedNote.find_by(file_id:@opened_file.id, pitch: @pitch, start_index: @start_index) %> 
                  <% @is_checked = true %>
                <% else %>     
                  <% @is_checked = false %>
                <% end %>
                <%= check_box_tag "file[notes][#{@pitch}][#{@start_index}][]", "true", @is_checked %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>

</table>
<% end %>