<li> 
  <%= link_to "Save", '#', onclick:"saveFile()" %> 
</li>
<li> 
  <%= link_to "Save As...", '#' %> 
</li>
<li> 
  <%= link_to "Save All", '#' %> 
</li>
<hr style="width: 77%; height: 0em; background: #fff; margin: 10px auto;">
<li> 
  <%= link_to "Rename...", '#' %>
</li>
<li>
  <%= link_to "Delete...", '#' %>
</li>
<hr style="width: 77%; height: 0em; background: #fff; margin: 10px auto;">
<li>
  <%= link_to "Close", '#' %>
</li>
<li>
  <%= link_to "Revert File", '#' %>
</li>
<li>
  <%= link_to "Close All Files", '#' %>
</li>