<!DOCTYPE html>
<html>
<head>
  <title>ComposePad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/music_notes1_nJp_icon.ico">
  <meta charset="utf-8">

  <!--Bootstrap theme header...-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--End Bootstrap-->

  <!--MIDI js -->
  <!-- polyfill -->
 
  <!-- End MIDI js -->
</head>
<body ng-app="app"
style="background-color:#222">
  <div class="flash-messages">
    <%flash.each do |name, message| %>
      <% if !message.empty? %>
        <div class="alert alert-<%= name %> alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
      <% end %>
    <%end %>
  </div>

<%= yield %>

 <!-- Navigation -->
  <% if @action_is_workspace %>
  <nav ng-controller = "workspaceCtrl" 
  ng-init="setup()"
  class="navbar navbar-inverse navbar-fixed-top" 
  role="navigation">

  <% else %>
  <nav class="navbar navbar-inverse navbar-fixed-top" 
  role="navigation">

  <% end %>

    <div class="container">

      <!-- navbar header -->
      <%= render "note_files/navbar_brand" %>

      <div class="collapse navbar-collapse" id="navbar-collapse-1"
      >
        <!-- left navbar -->
        <ul class="nav navbar-nav left-navbar">
          <%= render "/note_files/file_menu_dropdown" %>
          <!-- <li>
            <a class="navbar-item-match-tabs" href="https://drive.google.com/open?id=0Bxvz4oBLx9gZZUg1VTZqaGo1SEU">Quick Tutorial...</a>
          </li> -->
        </ul>

        <!-- right navbar -->
        <ul class="nav navbar-nav navbar-right navbar-margin-right navbar-margin-bottom">
          <% if current_user %>
            <%= render "/note_files/log_in_navbar_when_logged_in" %>
          <% else %>
            <%= render "/note_files/log_in_navbar_when_logged_out" %>
          <% end %>
        </ul>

        <!-- workspace tabs -->
        <% if @action_is_workspace %>
          <%= render "/note_files/workspace_tabs" %>
        <% end %> 

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

<!-- Full Page Image Background Carousel Header -->
  <script>
  //   $(document).ready(function(){
  //       $('[data-toggle="tooltip"]').tooltip(); 
  //   });
  </script>

</body>
</html>
