<!DOCTYPE html>
<html>
<head>
  <title>ComposePad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/music_notes1_nJp_icon.ico">
  <meta charset="utf-8">

  <!--Well here's my Bootstrap theme header...-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--End Bootstrap-->

  <!--MIDI js -->
  <!-- polyfill -->
 
  <!-- End MIDI js -->
</head>
<body style="background-color:#222">
  <div class="flash-messages">
    <%flash.each do |name, message| %>
      <% if !message.empty? %>
        <div class="alert alert-<%= name %> alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
      <% end %>
    <%end %>
  </div>

<%= yield %>

 <!-- Well here's my bootstrap body, yo - sounds kinda funny - bootstrap body -->
 <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-match-tabs" href="/" >
            Compose Pad
          </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav ">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-item-match-tabs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File<i class="fa fa-bars"></i></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <% if current_user %>
                <li> 
                  <%= link_to "New", '/note_files/new' %>
                </li>
                <li> 
                  <%= link_to "My Files...", '/my_files' %> 
                </li>
              <% else %>
                <%= render "/note_files/file_menu_top_when_logged_out" %>
              <% end %>
              <% if current_user && @action_is_workspace %>
                <%= render "/note_files/file_menu_when_workspace_shown"%>
              <% elsif current_user && NoteFile.find_by({user_id:current_user.id, file_open: true}) %>
                <%= render "/note_files/file_menu_when_files_open_not_shown"%>
              <% else %>  
                <li> 
                  <a class = "disabled-link"> Save </a> 
                </li>
<!--                 <li> 
                  <a class = "disabled-link"> Save As... </a>
                </li> -->
                <li> 
                  <a class = "disabled-link"> Save All </a> 
                </li>
                <hr style="width: 77%; height: 0em; background: #fff; margin: 10px auto;">
                <li> 
                  <a class = "disabled-link"> Close </a> 
                </li>
<!--                 <li> 
                  <a class = "disabled-link"> Revert File </a>
                </li> -->
                <li> 
                  <a class = "disabled-link"> Close All </a> 
                </li>
              <% end %>            
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-margin-right navbar-margin-bottom">
          
          <% if current_user %>
            <li> <%= link_to "Sign out", "/users/sign_out", method: "delete",class: "navbar-item-match-tabs" %> </li>
          <% else %>
            <li> <%= link_to "Sign up", "/users/sign_up", class: "navbar-item-match-tabs" %> </li>    
            <li> <%= link_to "Sign in", "/users/sign_in", class: "navbar-item-match-tabs" %> </li>
          <% end %>
        </ul>
        <% if @action_is_workspace %>
          <ul id = "myTab" class = "nav nav-tabs">
          <% @opened_files.each_with_index do |opened_file, index| %>            
            <li <%= "class = active" if index==0%> >
              <a href = "#file<%= index %>" data-toggle = "tab" class="navbar-item-tabs">
                 <%= "#{opened_file.name}" %>
              </a>
            </li>
          <% end %>
          </ul>
          <div id = "myTabContent" class = "tab-content">
            <% @opened_files.each_with_index do |opened_file, index| %>
              <% if index == 0 %>
                <div class = "tab-pane in active" id = "file<%= index %>">
              <% else %>
                <div class = "tab-pane" id = "file<%= index %>">
              <% end %>
              <% @opened_file = opened_file %>
              <%# need to convert block var to inst var to pass to partial %>
              <%= render "/note_files/workspace_file", {opened_file: @opened_file, index: index}%>
              </div>
            <% end %>
          </div>
        <% end %>            
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </div>
  </nav>

<!-- Full Page Image Background Carousel Header -->
 <script>
// window.onload = function () {
//   wow();
//   MIDI.loadPlugin({
//     soundfontUrl: "./soundfont/",
//     instrument: "acoustic_grand_piano",
//     onprogress: function(state, progress) {
//       console.log(state, progress);
//     },
//     onsuccess: function() {
//       var delay = 0; // play one note every quarter second
//       var note = 50; // the MIDI note
//       var velocity = 127; // how hard the note hits
//       // play the note
//       MIDI.setVolume(0, 127);
//       MIDI.noteOn(0, note, velocity, delay);
//       MIDI.noteOff(0, note, delay + 0.75);
//     }
//   });
// };
// </script>

</body>
</html>
